<div id="footer" class="navbar navbar-fixed-bottom">
  <p id="footerbb">&copy  <%= link_to 'Copyright 2017 ', 'https://github.com/piyush-multiplexer/projectde' %>
    | All Rights
    Reserved.</p>
</div>
