<h1><%= @page_title %></h1>
<p>This is an About page for Online Complaint Registration System.
  Here you can register any type the complaint.
  We also provide information awareness regarding laws that general people are not aware of
  and what they should know, where to go, what to do in which kind of situation.</p>